/* estilos/styles.css */

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.hero-section {
  background: linear-gradient(to right, #111, #333);
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

.section-grafico h2 {
  font-weight: 700;
  color: #222;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}
